*{
    margin:0 0 0 0;
    padding:0 0 0 0;
}
body{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    height:70%;
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sub{
    height:70%;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
h1{
    font-size: 2.4em;
}
#color{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#lred,#lblue,#lgreen{
    width: 70%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#red,#blue,#green{
  /* height:100%; */
  width:80%;
}

