*{
    padding:0 0 0 0;
    margin:0 0 0 0;
}
body{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    height:80%;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sub{
    height:80%;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    border-radius: 40px;
    background-color: rgb(240, 198, 205);
}
#inputs{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inpu{
    width:70%;
    height:30px;
    border-radius: 5px;
    border: 1px solid gray;
}
#time{
    display: flex;
    justify-content: center;
    align-items: center;    
    width:100%;
}
h1{
    font-size: 4em;
    color: rgb(235, 58, 147);
}
#buttons{
    width:40%;
    height:20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap:10px;
}
#start,#pause,#reset{
  width:70px;
  height:40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(155, 100, 123);
  color: rgb(231, 227, 228);
}